<!-- index-3 -->

<link rel="stylesheet" href="/css/index/3.css">

<div class="row index-3-main">
    <div class="container">
        <!-- 左窗口（主） -->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 index-3-l">
            <%- partial("3-l-1.ejs") %>
            <%- partial("3-l-2.ejs") %>
        </div>
        <!-- 右窗口（辅）手机、平板不显示 -->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs index-3-r">
            <%- partial("3-r-1.ejs") %>
            <%- partial("3-r-2.ejs") %>
            <%- partial("3-r-ad-1.ejs") %>
            <%- partial("3-r-fixed-1.ejs") %>
            <%- partial("3-r-fixed-2.ejs") %>
        </div>
    </div>
</div>